

__pycache__/
*.py[cod]
*.pyc
*$py.class

.idea/

# Visual Studio cache directory
.vs/

/python/__pycache__/
resources/Results/
resources/Saves/



.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Specific files
MaterialLookUprResult.csv